<div class="content">
    <div class="header-title">
        <h3>{{user.username}} Tu listado de actividades</h3>
    </div>

    <div class="activities">
        <div class="card" *ngFor="let a of ac">
            <div class="header-card">
                <h4 class="title-card">{{a.id}}.{{a.title}}</h4>
            </div>
            <div class="card-content">
                {{a.description}}. <br>

                Fecha: ({{a.fecha_hora | date}})
            </div>
            <div class="card-footer">
                <a routerLink="/activity/{{a.id}}" class="bg-primary">Editar</a>
                <a (click)="onDelete(a.id)" class="bg-danger">Eliminar</a>
                <a routerLink="/activity/{{a.id}}/todoList" class="bg-success">Actividades</a>
            </div>
        </div>

    </div>
</div>