<div class="content">
    <div class="header-title">
        <h3>Listado de actividades</h3>
    </div>

    <div class="activities">
        <div class="card">
            <div class="header-card">
                <h4 class="title-card">1.Ir al Cine</h4>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eius!
            </div>
            <div class="card-footer">
                <a class="bg-primary">Editar</a>
                <a class="bg-danger">Eliminar</a>
                <a class="bg-success">Actividades</a>
            </div>
        </div>
        <div class="card">
            <div class="header-card">
                <h4 class="title-card">1.Ir al Cine</h4>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eius!
            </div>
            <div class="card-footer">
                <a class="bg-primary">Editar</a>
                <a class="bg-danger">Eliminar</a>
                <a class="bg-success">Actividades</a>
            </div>
        </div>
        <div class="card">
            <div class="header-card">
                <h4 class="title-card">1.Ir al Cine</h4>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eius!
            </div>
            <div class="card-footer">
                <a class="bg-primary">Editar</a>
                <a class="bg-danger">Eliminar</a>
                <a class="bg-success">Actividades</a>
            </div>
        </div>
        <div class="card">
            <div class="header-card">
                <h4 class="title-card">1.Ir al Cine</h4>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eius!
            </div>
            <div class="card-footer">
                <a class="bg-primary">Editar</a>
                <a class="bg-danger">Eliminar</a>
                <a class="bg-success">Actividades</a>
            </div>
        </div>
        <div class="card">
            <div class="header-card">
                <h4 class="title-card">1.Ir al Cine</h4>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eius!
            </div>
            <div class="card-footer">
                <a class="bg-primary">Editar</a>
                <a class="bg-danger">Eliminar</a>
                <a class="bg-success">Actividades</a>
            </div>
        </div>
        <div class="card">
            <div class="header-card">
                <h4 class="title-card">1.Ir al Cine</h4>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eius!
            </div>
            <div class="card-footer">
                <a class="bg-primary">Editar</a>
                <a class="bg-danger">Eliminar</a>
                <a class="bg-success">Actividades</a>
            </div>
        </div>
        <div class="card">
            <div class="header-card">
                <h4 class="title-card">1.Ir al Cine</h4>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eius!
            </div>
            <div class="card-footer">
                <a class="bg-primary">Editar</a>
                <a class="bg-danger">Eliminar</a>
                <a class="bg-success">Actividades</a>
            </div>
        </div>
        <div class="card">
            <div class="header-card">
                <h4 class="title-card">1.Ir al Cine</h4>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eius!
            </div>
            <div class="card-footer">
                <a class="bg-primary">Editar</a>
                <a class="bg-danger">Eliminar</a>
                <a class="bg-success">Actividades</a>
            </div>
        </div>

    </div>
</div>