<div class="content">
    <div class="header-title">
        <h3>Editar Actividad</h3>
        <hr><br>
        <form action="">
            <div class="form">
                <label for="">Titulo de la actividad</label> <br>
                <input [(ngModel)]="ac.title" name="title" type="text" placeholder="Titulo" class="input-lg">
            </div>
            <div class="form">
                <label for="">Descripción de la actividad</label> <br>
                <textarea [(ngModel)]="ac.description" name="desc" placeholder="Descripcion" id="" cols="30"
                    rows="10"></textarea>
            </div> <br>
            <br> <br>
            <a (click)="onEdit()" class="bg-success">Editar</a>
        </form>
    </div>
</div>